.contactContainer {
  color: white;
  height: 40%;
  width: 100%;
  display: block;
  background-color: #2f343d;
  padding: 20px;
  border-radius: 10px;
}
.icons {
  height: 30px;
  width: 30px;
  margin: 15px;
}
.socialrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cvButton {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.minContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: solid 2px red;
  border-left: solid 2px red;
  align-items: center;
  justify-content: center;
}
.columnCon {
  display: flex;
  flex-direction: column;
}
.columnCon button {
  align-items: center;
}
.labelText {
  color: red;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}
@media only screen and (max-width: 530px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
  }
  .minContainer {
    transform: scale(0.9);
    border-top: solid 2px red;
    border-right: none;
    border-left: none;
    width: 90%;
  }
}

.signContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.signImg{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-right: 20px;
}